/* General Reset */
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
  } 
  
  /* Header Styles */
  .navbar{
    color: black;
    background-color: #bdbdbd;
  }
  .header-name{
    font-size: 2rem;
  } 
  /* Main Content Styles */
  .main-content {
      max-width: 1000px;
      margin: 60px auto;
      padding: 0 20px;
  }
  .profile-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 40px;
    margin-bottom: 40px;
    flex-wrap: wrap;
  }
  
  .profile-image {
      flex: 0 0 auto;
      width: 300px;
      height: 300px;
      border-radius: 50%;
      overflow: hidden;
      display: flex;
      justify-content: center;
      align-items: center;
      background: #bdbdbd;
  }
  
  .rounded-image{
      width: 100%;
      height: auto;
  }
  
  .profile-details {
      flex:1;
  }
  
  .main-title {
    font-size: 80px;
      font-weight: 700;
      margin-bottom: 20px;
  }
  
  .sub-title {
      font-size: 24px;
      font-weight: 700;
      color: #828282;
      margin-bottom: 15px;
  }
  
  .profile-description {
      font-size: 18px;
      color: #4f4f4f;
      margin-bottom: 25px;
      line-height: 1.6;
  }
  
  /* Footer Styles */
  .footer {
    background-color: #fff;
    padding-top: 40px;
    border-top: 1px solid #e5e5e5;
  }
  
  .footer-content {
      display: flex;
      justify-content: space-evenly;
      max-width: 1200px;
      margin: 0 auto;
      flex-direction: row;
  }
  
  .footer-info p:first-child, .footer-follow p, .footer-copyright p {
      font-size: 14px;
      font-weight: 400;
      color: #828282;
      margin-bottom: 5px;
  }
 
  .social-link{
    display: flex;
    gap: 10px;
    text-decoration: none;
    font-size: 18px;
    color: #828282;
  }
  .social-link
  .footer-copyright{
    background-color: #F2F2F2;
    text-align: center;
    padding: 10px 0px;
  }
  /* Back to Top Button */
.back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 50%;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  display: none; /* Hidden by default */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: opacity 0.3s, transform 0.3s;
}

/* Button Hover Effect */
.back-to-top:hover {
  background-color: #0056b3;
}

/* Button Animation */
.back-to-top.show {
  display: block;
  opacity: 1;
  transform: translateY(0);
}
